<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Combined UI Suite" parallel="classes" thread-count="4">

    <test name="SauceDemo Tests">
        <classes>
            <class name="saucedemo.com.tests.PlaywrightTests"/>
        </classes>
    </test>

    <test name="Automation Exercise Tests">
        <packages>
            <package name="automationexercise.com.tests"/>
        </packages>
    </test>

</suite>